body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #0E041D;
    color: #fff;
}

.main-container {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 0;
}

/* Hero Section */
.hero {
    display: flex;
    margin-top: 80px;
}

.hero-left {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 250px;
}

.hero-left h1 {
    font-size: 45px;
}

.hero-highlight {
    color: blueviolet;
}

.hero-span {
    font-weight: lighter;
    font-size: 40px;
}

.hero-button {
    padding: 15px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    color: #fff;
    background-color: #5A00DB;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #fff;
    color: blueviolet;
}

/* Hero Right Side */
.hero-right {
    width: 55%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.hero-right img {
    width: 100%;
    z-index: 20;
}

.hero-overlay-1 {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 320px;
    background-color: rgba(208, 171, 243, 0.072);
    border-radius: 16px;
}

.hero-overlay-2 {
    position: absolute;
    bottom: -10px;
    left: -30px;
    width: 300px;
    height: 230px;
    background-color: rgba(208, 171, 243, 0.072);
    border-radius: 16px;
}

/* Info Boxes */
.hero-info-boxes {
    width: 1300px;
    position: absolute;
    bottom: 15px;
    right: 10%;
    z-index: 88;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box-container {
    display: flex;
    gap: 30px;
    background: transparent;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(20px);
    border-radius: 16px;
    padding: 30px;
    color: white;
    width: 220px;
    border: 1px solid rgba(255, 255, 255, 0.445);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.info-box img {
    width: 50px;
    height: 50px;
}

.info-box h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.info-box p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #ccc;
}

/* About Section */
.about-section {
    padding: 40px;
    padding-bottom: 30px;
    background-color: #5A00DB;
}

.about-section div p {
    padding: 0;
    margin: 0;
    font-size: 45px;
    font-weight: 600;
    line-height: 30px;
}

.about-section div span {
    font-size: 20px;
    font-weight: 400;
}

/* Features Section */
.features {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.feature {
    width: 28%;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

.feature img {
    width: 100%;
    margin-bottom: -5px;
    border-top: 1px solid #ffffffa9;
    border-radius: 20px 20px 0 0;
}

.feature-content {
    padding: 20px;
    height: 140px;
    line-height: 24px;
    background-color: rgba(255, 255, 255, 0.115);
    border-radius: 0 0 20px 20px;
}

/* More Info */
.more-info {
    margin: 40px;
    padding-right: 90px;
    line-height: 30px;
}

/* Banner */
.banner {
    text-align: center;
    margin-top: 100px;
    line-height: 20px;
}

.banner h1 {
    font-size: 45px;
}

/* Projects Section */
.project-sections {
    display: flex;
    margin-top: 50px;
}

.project {
    width: 50%;
    padding: 20px;
    line-height: 30px;
}

.project img {
    width: 100%;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.project img:hover {
    transition: all 0.3s ease-in-out;
}

.project-details {
    width: 50%;
    padding: 20px;
    line-height: 30px;
}

.reverse .project {
    order: 2;
}

.reverse .project-details {
    order: 1;
}

.cta-button {
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: rgba(255, 255, 255, 0.115);
    color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #f5eaea46;
}

/* View All Button */
.all-projects-button {
    display: flex;
    justify-content: center;
}

.view-all-button {
    padding: 13px 30px;
    background-color: blueviolet;
    border-radius: 8px;
    color: #fff;
    border: none;
    margin: 70px 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.view-all-button:hover {
    transform: scale(1.1);
}

/* Services Section */
.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 25%;
    padding: 60px 25px;
    background-color: #ffffff11;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.service:hover {
    transform: scale(1.05);
    background-color: #5A00DB;
}

/* Contact Section */
.contact-section {
    text-align: center;
    margin-top: 100px;
}

@media screen and (max-width: 450px) {
    .hero{
        flex-direction: column;
    }
}